body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
    background-color: black;
}
.ink{
    text-decoration: none;
    color: wheat;
}
a:hover{
    background-color: lightcoral;
    border-radius: 20px;
    padding: 10px;
}